/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.two-column-span{
  float: left;
  margin: 0% 0% 0%;
  width: 66.66%;
}

.one-column-span{
  float: left;
  margin: 0% 0% 0% 1%;
  width: 32.33%;
}

.margin-top-20px{
  margin-top: 20px;
}


